<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sutton's Log - New Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:image" content="http://suttonslog.com/images/logo.png"/>
    <link rel="stylesheet" type="text/css" th:href="@{../css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../css/uploader.css}" />
</head>
<body>
<div class="wrapper">
    <h1>Sutton's Log</h1>
    <div class="logo"><img src="../images/logo.png" alt="Sutton's Log" /></div>
    <div class="admin-panel">
        <h2>Administration panel</h2>
        <a href="./">Home</a>
        <a href="/admin/create">New Post</a>
        <a href="/admin/create">Update Post</a>
    </div>
    <div class="content">
        <form action="../phpCommands/submit.php" method="post">
            <h2 class="page-head">Add a new entry . . .</h2>
            <ul id="blog-submit">
                <li>
                    <label for="lee">Who's posting?</label>
                    <ul>
                        <li>
                            <label for="lee">
                                <input type="radio" name="author" id="lee" checked="checked" value="him" />
                                Lee
                            </label>
                        </li>
                        <li>
                            <label for="whit">
                                <input type="radio" name="author" id="whit" value="her" />
                                Whitney
                            </label>
                        </li>
                    </ul>
                </li>
                <li>
                    <label for="title">Title</label><br />
                    <input name="title" type="text" id="title" />
                </li>
                <li>
                    <label for="category">Category</label><br />
                    <select name="category" id="category">
                        <option value="FAITH">Faith</option>
                        <option value="FAMILY">Family</option>
                        <option value="FUN">Fun</option>
                        <option value="FOOD">Food</option>
                        <option value="OUTSIDE">Outside</option>
                        <option value="PHOTOGRAPHY">Photography</option>
                        <option value="TECH">Tech</option>
                        <option value="WEBDEV">Web Development</option>
                        <option value="WOODWORKING">Woodworking</option>
                    </select>
                </li>
                <li>
                    <label for="contents">Contents</label><br />
                    <span class="warning-text">Before inserting any images, be sure to see the instructions below about uploading and inserting your images.</span>
                    <textarea name="contents" id="contents" rows="4" cols="50"></textarea>
                </li>
                <li>
                    <input class="submit" name="submit" type="submit" value="Submit blog entry" title="Submit blog entry" />
                </li>
            </ul>
        </form>
        <form class="box" action="/uploadPhotos" enctype="multipart/form-data" method="post"
              novalidate="">
            <div class="box__input">
                <svg xmlns="http://www.w3.org/2000/svg" class="box__icon" viewBox="0 0 50 43" width="50" height="43">
                    <path d="M 48.4 26.5 c -0.9 0 -1.7 0.7 -1.7 1.7 v 11.6 h -43.3 v -11.6 c 0 -0.9 -0.7 -1.7 -1.7 -1.7 s -1.7 0.7 -1.7 1.7 v 13.2 c 0 0.9 0.7 1.7 1.7 1.7 h 46.7 c 0.9 0 1.7 -0.7 1.7 -1.7 v -13.2 c 0 -1 -0.7 -1.7 -1.7 -1.7 Z m -24.5 6.1 c 0.3 0.3 0.8 0.5 1.2 0.5 c 0.4 0 0.9 -0.2 1.2 -0.5 l 10 -11.6 c 0.7 -0.7 0.7 -1.7 0 -2.4 s -1.7 -0.7 -2.4 0 l -7.1 8.3 v -25.3 c 0 -0.9 -0.7 -1.7 -1.7 -1.7 s -1.7 0.7 -1.7 1.7 v 25.3 l -7.1 -8.3 c -0.7 -0.7 -1.7 -0.7 -2.4 0 s -0.7 1.7 0 2.4 l 10 11.6 Z"
                    />
                </svg>
                <input name="files[]" class="box__file" id="file" type="file" multiple="" data-multiple-caption="{count} files selected" />
                <label for="file">
                    <strong>Choose a file</strong> <span class="box__dragndrop"> or drag it here</span>.
                </label>
                <button class="box__button" type="submit">Upload</button>
            </div>
            <div class="box__uploading">Uploading…</div>
            <div class="box__success">Done!
                <a class="box__restart" role="button" href="https://css-tricks.com/examples/DragAndDropFileUploading//?">Upload more?</a>
            </div>
            <div class="box__error">Error!
                <span></span>.
                <a class="box__restart" role="button" href="https://css-tricks.com/examples/DragAndDropFileUploading//?">Try again!</a>
            </div>
        </form>
        <ol class="upload-instructions">
            <strong>Uploading and inserting images...</strong>
            <li>Drag and drop your image into the box to the left, or click browse to select your images.<br />(You can upload multiple images at once)</li>
            <li>Insert an image into your post with one of two methods: You can click <strong>'Insert image'</strong> inside of the <strong>'Insert'</strong> dropdown. You can also click on the <strong>'Insert/edit image'</strong> button on the far-right of the text editor.</li>
            <li>When you insert an image, a dialog box will pop up.  It is important that the <strong>Source</strong> field looks like this: /blogPhotos/<strong>YOUR_IMAGE_HERE</strong>.  So, if you uploaded an image called <strong>house.jpg</strong> the source field should look like this: /blogPhotos/<strong>house.jpg</strong>.</li>
        </ol>
    </div>
</div>
<script data-main="../js/create/main" th:src="@{../js/libs/require.js}"></script>
</body>
</html>