<script id="gatesTimeline" type="text/x-handlebars-template">
<header>
	<h2>
		Gates Foundation:<br />
		Grand Challenges Timeline
	</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Visual Studio 2008</li>
      	<li>SharePoint 2007</li>
		<li>JavaScript</li>
		<li>jQuery</li>
		<li>XSL</li>
      	<li>HTML</li>
      	<li>CSS</li>
  	</ul>
	<p>
		Initially developed back in the fourth quarter of 2011, the Grand Challenges Timeline was my first JavaScript and SharePoint-heavy project that I worked on at <a href="http://smith.co" target="_blank">SMITH Co.</a> It was a huge learning experience and it started me down the path of being the front-end SharePoint authority at our office for a while.
	</p>
	<p>
Pairing with a senior front-end SharePoint developer, I learned how to create custom data views and work with XSL in SharePoint. He also taught me how to write basic JavaScript functions for sliding the Timeline back and forth. The Timeline was initially developed with fairly basic functionality where a user could access detail views by clicking on any of the pins on the timeline, or any of the entries in the list of items on the page. Later in the next year, I added some JavaScript to enable the user to page through individual detail pages. The Timeline has since had more features added to it by other developers.
	</p>
</article>

<footer>
	<a class="cta" href="http://www.grandchallenges.org/Pages/Timeline.aspx" target="_blank">View the Timeline<img src="../../images/portfolio/cta_arrow.png" alt="See the site" /></a>
</footer>
</script>
