<script id="gatesNewsletter" type="text/x-handlebars-template">
<header>
	<h2>
		Gates Foundation:<br />
		Grand Challenges Newsletter
	</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Visual Studio 2012</li>
		<li>Photoshop CS5</li>
		<li>SharePoint 2007</li>
      	<li>JavaScript</li>
      	<li>jQuery</li>
		<li>HTML</li>
      	<li>CSS</li>
  	</ul>
	<p>
		One of our long-time clients at <a href="http://smith.co/" target="_blank">SMITH Co.</a> has been Grand Challenges in Global Health (a division of the Gates Foundation). I had been a developer on the site for a few years prior to the start of this project. Our client wanted to create an HTML version of the Grand Challenges Newsletter PDF that they have been sending out quarterly since December 2012. This started out as a very basic task, but I wanted to add a little extra.
	</p>
	<p>
The first idea that I pitched to my PM was to make the HTML newsletter look and function in the same way as the in-browser PDF reader for Internet Explorer. He signed off on it. The solution that I came up with went over so well that in our meetings I caught both the PM and our client looking at the HTML newsletter, and thinking that they were looking at the PDF. I'd call that a win. :)
	</p>
	<p>
The second idea that I ran by my PM was born more out of necessity than anything.  As editions of the newsletter rolled out, they seemed to only get longer and longer.  This was making things more annoying to try scroll in the browser to find where I was editing, and it was starting to cause headaches for our QA person on the project as she began to spend a larger amount of time scrolling the newsletter. I proposed to our PM that I could add a dynamically-generated page navigation header pinned to the top of the newsletter.  As you can see, he signed off on that as well. So, now there is a bit of JavaScript that loops through the pages, picks up their ID, and spits out a jump link to the page into the top navigation bar. Because of this feature, I can honestly say that I prefer using the HTML version of the newsletter over the PDF.		
	</p>
</article>

<footer>
	<a class="cta" href="http://www.grandchallenges.org/GCGHDocs/Newsletter/2013-10/GC_Newsletter.html" target="_blank">View a newsletter<img src="../../images/portfolio/cta_arrow.png" alt="See the site" /></a>
</footer>
</script>