<script id="hidoe" type="text/x-handlebars-template">
<header>
	<h2>Hawaii Department of Education</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Visual Studio 2012</li>
		<li>Photoshop CS5</li>
      	<li>SharePoint 2013</li>
      	<li>JavaScript</li>
      	<li>jQuery</li>
      	<li>HTML5</li>
      	<li>CSS3</li>
  	</ul>
	<p>
		Launched in July of 2013, the public website for the Hawaii Department of Education (HIDOE) was by far the most rewarding project that I've been a part of at <a href="http://smith.co/" target="_blank">SMITH Co</a>. We were tasked by HIDOE to create an ADA-compliant site that would allow better communication between the Department and the parents and students of Hawaii, as well as help to restore the public's trust in HIDOE. Personally, the six-month-long project was a huge learning opportunity for me. I was the lead front-end developer, and therefore was in charge of the CSS architecture for the site. I also solidified my grasp of jQuery plugin development, and became very familiar with SharePoint 2013.
  	</p>
	<p>
		Creating the accordion plugin for the site homepage was a good test of my abilities as a budding JavaScript developer. I had written and edited plenty of JS code prior to this project, even one small plugin, but I hadn't built something of this scale from the ground-up before. The accordion plugin takes however many elements are in the main container, and divides the container's width by that number to a width value which is then set to each element in the accordion.  Upon hovering over an item with the mouse, the item width grows by a percentage, and the remaining items all shrink by that percentage divided by however many remaining items there are.
	</p>
	<p>
		I've worked with SharePoint 2007 and 2010 in the three years prior to this project, and the development of the HIDOE site was a great opportunity to become familiar with the new DOM structure that came with release of SharePoint 2013. Part of this included using CSS and JavaScript to wrestle the various elements of the CMS into their correct places to go along with what our creative department came up with in the site designs.
	</p>
	<p>
		Throughout the 6+ month development timeframe, I coordinated my front-end work with the back-end work that was done by a SharePoint architect from our Canadian office. This project was actually a solid test for not only myself, but our company as a whole, as we became more de-centralized as an agency and spread work across our multiple offices. </p>
</article>

<footer>
	<a class="cta" href="http://www.hawaiipublicschools.org/" target="_blank">Explore the site<img src="../../images/portfolio/cta_arrow.png" alt="See the site" /></a>
</footer>
</script>