<script id="myFirstServer" type="text/x-handlebars-template">
<header>
	<h2>myfirstserver.com</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Visual Studio 2010</li>
		<li>ASP.NET MVC 3</li>
      	<li>JavaScript</li>
      	<li>jQuery</li>
      	<li>HTML</li>
      	<li>CSS</li>
  	</ul>
	<p>
		Built in Q4, 2011, myfirstserver.com served as a portal for small business owners to learn about what Microsoft has to offer when it comes to small business server solutions. There were also various testimonial videos, as well as tips and tricks segments that users could view. For a period of time, the site ran a pair of sweepstakes for people to win a Dell or HP server.
	</p>
	<p>
		This was my first project at <a href="http://www.smith.co" target="_blank">SMITH Co.</a> in which I was the lead front-end developer. I was tasked with creating the CSS and DOM framework for the site, as well as writing the JavaScript behind the functionality of the banner on the homepage.
	</p>
	<p>
		This project helped grow my skillset, especially with regards to MVC frameworks. For myfirstserver.com, we used ASP.NET MVC 3 with the Razor view engine. The tech lead taught me the relationship between models, views, and controllers, and we ended up using MVC to display the various sweepstakes entry forms and story submission forms for the site.
	</p>
</article>

<footer>
	<a class="cta" href="http://www.myfirstserver.com/myFirstServer.html" target="_blank">Explore the site<img src="../../images/portfolio/cta_arrow.png" alt="See the site" /></a>
</footer>
</script>