<script id="pcSelector" type="text/x-handlebars-template">
<header>
	<h2>Microsoft PC Selector</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Visual Studio 2010</li>
		<li>Photoshop CS5</li>
      	<li>JavaScript</li>
      	<li>jQuery</li>
      	<li>HTML</li>
      	<li>CSS3</li>
  	</ul>
	<p>
		Working at <a href="http://www.smith.co" target="_blank">SMITH Co.</a> on the Microsoft PC Selector throughout 2012 was a fun experience, but also a challenge.  We were tasked by Microsoft to build an in-depth decision engine that was easily reproducible so that it could be cobranded and rolled out to any retailer, and Microsoft wanted it to be fully responsive on top of all of that. My role in the project was to do the cobranding and to build the cross-browser responsive CSS framework. This was more than just CSS work, though...
	</p>
	<p>
		We had built our own, custom JavaScript-based MVC framework for handling the multiple screens of the selector. Because of this, I had to create or remove content variables within the framework depending on what the client was requesting. The entire project was a solid lesson in the structure of object-oriented JavaScript development.
	</p>
	<p>
		This project was the first in which I was able to use quite a bit of CSS3's shiny new features, some of which (as you can see in the implementation) were used to create elegant fading effects on elements without the use of JavaScript. And of course, media queries were needed for the Selector's layout to be responsive.
	</p>
	<p>
		As stated above, the whole experience needed to look good no matter where it was running. Therefore, I had to create a media query-based CSS scheme that worked well on everything from desktop PCs, to Surface tables and iPads, to Windows phones, Android phones, and iPhones. This also included a couple trips to Microsoft's main campus in Redmond to demo the Selector on the Surface, which had just released at the time.
	</p>
</article>

<footer>
	<a class="cta" href="http://www.officedepot.com/a/promo/pages/pc_selector/" target="_blank">Use the Selector<img src="../../images/portfolio/cta_arrow.png" alt="Use the Selector" /></a>
</footer>
</script>