<script id="sunLake" type="text/x-handlebars-template">
<header>
	<h2>Sun Lake Properties, LLC</h2>
</header>

<article>
	<h4>Technologies and applications used:</h4>
  	<ul>
		<li>Dreamweaver CS4</li>
		<li>Photoshop CS3</li>
      	<li>JavaScript</li>
      	<li>HTML</li>
      	<li>CSS</li>
  	</ul>
	<p>
		Back in the summer of 2009, the public site for Sun Lake Properties was my crowning achievement as my time at Central Washington University drew to a close. This project was a total labor of love, and I still think it is my most favorite project to date. Sunlakeproperties.com was a freelance project that I landed through the University Web Office, where I was the Senior Student Web Developer at the time. Since the project was freelance, I was in charge of everything from start to finish.
	</p>
	<p>
		Probably one of my favorite aspects of this job was interfacing with the client. They were a great bunch of people, prompt in their responses and collaboration with me as I created the design and vision for their site, and were really just excited about the whole Web development process. That helped me immensely because I was just starting out in the business and they were really encouraging to me. 
	</p>
	<p>
		Sun Lake Properties is a commercial and industrial property leasing company in Ellensburg, WA, and they needed a Web presence. I helped them come up with a design that was informational and effectively conveyed what each property had to offer. The whole project, photography included, took about 80 hours to complete from design, to development, to delivery and SEO. The client was so happy with the results that they contracted me to build another site for an <a href="http://alderwoodmanorapartments.com/" target="_blank">apartment complex</a> that the son of one of the Sun Lake executives manages.
	</p>
</article>

<footer>
	<a class="cta" href="http://www.sunlakeproperties.com/" target="_blank">Explore the site<img src="../../images/portfolio/cta_arrow.png" alt="See the site" /></a>
</footer>
</script>