/*** SPECIAL FONT DECLARATIONS ***/
@font-face				
{
	font-family:'Kelvinized';
	src: url('../fonts/Kelvinized.eot');
	src: local('Kelvinized'),
			local('Kelvinized'),
			url('../fonts/Kelvinized.ttf') format('truetype'),
			url('../fonts/Kelvinized.svg#font') format('svg'),
			url('../fonts/Kelvinized.eot');
}

/*** BASE FONT STYLES ***/
body 					{margin:0px; padding:0px; font-family:"Helvetica"; color:#fff;}
h1						{display:inline-block; float:left; font-size:36px; line-height:50px; padding:20px 0px 0px; margin:0px; font-family:"Kelvinized"; font-weight:100; color:#fff;}
h2						{font-size:24px; line-height:24px; font-family:"Kelvinized"; font-weight:100; color:#319FA8;}
h2.page-head			{font-size:37px; line-height:37px; margin-top:0px;}
.content h2				{font-size:25px; line-height:25px; margin:0px 0px 20px; font-family:"Kelvinized", "Helvetica"; font-weight:100; color:#fff;}
.content h3				{font-size:20px; line-height:20px; font-family:"Kelvinized", "Helvetica";}
.entry h2				{float:left;}
h3						{color:#004080;}
a						{color:#319FA8; text-decoration:none;}
.content a				{color:#fff;}
a:hover					{text-decoration:underline;}

/*** SCAFFOLDING ***/
.wrapper 				{position:relative; width:960px; min-width:300px; margin:0px auto 60px; padding:20px; background:url(../images/portfolio/page_bg.png); border-bottom-left-radius:20px; border-bottom-right-radius:20px; box-shadow:0px 0px 50px 10px #A3A3A3;}
.logo					{position:relative; float:left; height:80px; margin:5px 0px -6px 20px; z-index:1;}
.logo img				{height:80px; width:auto;}
.hero					{display:inline-block; position:relative; width:100%; background-color:#000; z-index:2;}
.content				{width:920px; height:auto; margin-top:-4px; padding:20px; background-color:rgba(255,255,255,0.15); transition:height linear 250ms;}

/*** NAVIGATION ***/
.navigation				{position:absolute; top:60px; right:20px; padding:10px 10px 50px; border-radius:10px;  background-color:rgba(255,255,255,0.15); text-align:right;}
.navigation h2			{color:#fff; margin:0px 0px 10px 0px;}
.navigation a,
.mobile-nav a,
.navigation a:active,
.mobile-nav a:active,
.navigation a:visited,
.mobile-nav a:visited	{font-family:"Kelvinized"; font-size:14px; color:#fff; text-decoration:none; margin-left:15px;}
.navigation a:hover		{text-decoration:underline;}
.navigation a.first		{margin-left:0px;}
.mobile-nav				{display:none;}

/*** CAROUSEL ***/
.carousel-window							{position:relative; width:100%; height:400px; overflow:hidden; padding:0;}
.carousel-control							{position:absolute; top:0px; width:8.3333%; min-width:26px; height:100%; text-align:center; background-color:rgba(51, 51, 51, .3); cursor:pointer; transition:all linear 250ms;}
.carousel-control:hover						{background-color:rgba(51, 51, 51, .1);}
.carousel img								{border:none; width:100%; height:auto;}
.carousel-control img						{position:absolute; top:50%; left:50%; margin-top:-50px; margin-left:-13px;}
.carousel-control.inactive img				{display:none;}
.carousel-control.carousel-left				{left:0;}
.carousel-control.carousel-right			{right:0;}
.carousel-control.carousel-left.inactive	{left:-80px; cursor:default;}
.carousel-control.carousel-right.inactive	{right:-80px; cursor:default;}
.carousel-pages								{position:absolute; bottom:6.25%; display:inline-block; text-align:center; height:15px; padding:5px; border-radius:12px; background-color:#333; opacity:.4;}
.carousel-page								{float:left; width:15px; height:15px; background:url(../images/portfolio/hero_indicator.png) bottom left no-repeat; cursor:pointer; margin:0 4px;}
.carousel-page.current-page					{background-position:top left; cursor:default;}
.carousel									{display:inline-block; position:absolute; top:0; left:0;}
.carousel-group								{display:inline-block; float:left; max-height:400px; padding:0px;}

/*** CONTENT PIECES ***/
header,
article,
footer,
.content.hidden header,
.content.hidden article,
.content.hidden footer	{opacity:0; transition:opacity linear 250ms;}
header.visible,
article.visible,
footer.visible			{opacity:1; transition:opacity linear 250ms;}
footer					{text-align:right; margin-top:20px;}
footer a.cta			{font-size:22px; line-height:22px; font-family:"Kelvinized", "Helvetica"; text-decoration:none;}
footer a.cta:hover		{text-decoration:underline;}
footer a img			{border:none; padding-left:8px;}

/*** INDIVIDUAL PROJECTS ***/

/* Sutton's Log */
.image-left									{float:left; width:33.44%; height:auto; min-width:150px; max-width:300px; margin:0px 10px 10px 0px;}

/*** RESPONSIVE ***/
@media screen and (max-width: 999px) {
	@-ms-viewport { width:870px; }
	.wrapper 				{position:relative; width:96%; padding:2%; margin-bottom:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;}
	.navigation				{right:2%;}
	.content				{width:95.83%; padding:2.0835%;}
}

@media screen and (max-width: 870px) {
	@-ms-viewport { width:680px; }
	.navigation a,
	.navigation a:active,
	.navigation a:visited 	{font-size:10px;}
	h1 						{font-size:26px; line-height:40px; padding-top:10px;}
	.logo,
	.logo img 				{height:60px;}
	.logo					{margin-top:5px;}
	.navigation 			{top:40px;}
}

@media screen and (max-width: 680px) {
	@-ms-viewport { width:460px; }
	body				{font-size:12px;}
	.content h2			{font-size:18px; line-height:18px;}
	.content h3			{font-size:14px; line-height:14px;}
	footer a.cta		{font-size:16px; line-height:16px;}
	footer a img		{width:20px; height:auto;}
	.navigation 		{display:none;}
	.mobile-nav a,
	.mobile-nav a:active,
	.mobile-nav a:visited	{display:block; margin:5px 0px; float:left; clear:both; font-family:"Helvetica"}
	.mobile-nav				{position:relative; display:block; float:right;}
	.nav-toggle				{width:50px; height:50px; cursor:pointer;}
	.mobile-nav-items		{display:none; position:absolute; top:50px; left:-72px; width:100px; padding:5px 10px; background:url(../images/portfolio/page_bg.png); border:1px solid #fff; z-index:3; font-weight:bold;}
	.mobile-nav.open .mobile-nav-items	{display:block;}
}

@media screen and (max-width: 460px) {
	@-ms-viewport { width:320px; }
	h1 						{font-size:18px; line-height:20px; padding-top:0px;}
	.content h2				{font-size:16px; line-height:16px;}
	.logo,
	.logo img 				{height:40px;}
	.logo					{margin-top:0px;}
	.nav-toggle				{height:25px; width:25px;}
	.mobile-nav-items		{top:25px; left:-97px;}
	footer a.cta			{font-size:14px; line-height:14px;}
}