<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sutton's Log</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:image" content="http://suttonslog.com/images/logo.png"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" />
    <script th:src="@{js/libs/jQuery.js}"></script>
    <script th:src="@{js/libs/Handlebars.js}"></script>
    <script th:src="@{js/libs/mockjax.js}"></script>
    <script th:src="@{js/libs/require.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</head>
<body>
    <input id="mockData" type="hidden" th:value="${mockData}"/>
    <div class="wrapper">
        <div th:replace="fragments/header"></div>
            <div class="content">
                <div class="content-main">
                    <h2 class="page-head">A blog about nothing in particular...</h2>
                    <p><strong>...so that means more variety!</strong> The site is in its infancy, but that doesn't mean it can't be useful.</p>
                    <p>Eyes, hearts, and minds open; here we go...</p>
                    <div id="blogContainer"></div>
                </div>
                <div class="right-rail">

                    <h2>Around the homestead</h2>

                    <h3>Weather</h3>
                    <div id="weather">
                        <div class="current"></div>
                        <div class="forecast"></div>
                    </div>

                    <h3>Police Blotter</h3>
                    <div id="blotter"></div>
                </div>
            </div>
        <div th:replace="fragments/footer"></div>
    </div>
    <script>
        require(['main'], function() {
            if($('#mockData').val() === "true"){
                initMocks();
            }
            initPage();
        });
    </script>
    <script id="entryTemplate" type="text/x-handlebars-template">
        <div id="{{id}}" class="entry">
            <h2 class="{{author}}">{{title}}</h2>
            <div class="date">
                <div class="day">{{blogDate.day}}</div>
                <div class="month-year">{{blogDate.month}}<br />{{blogDate.year}}</div>
            </div>
            <div class="blog-text">{{{contents}}}</div>
            <div class="inline-share">
                <strong>Share</strong><a href="{{id}}">this post</a> with your friends/nemeses.
            </div>
        </div>
    </script>
    <script id="weatherCurrentTemplate" type="text/x-handlebars-template">
        {{#each list}}
        <div class="day">
            <div class="date">
                Day: {{dt_text}}
            </div>
            <div>
                High: {{#temperature main.temp}} Deg. F
            </div>
            <div>
                Low: {{#temperature main.temp}} Deg. F
            </div>
        </div>
        {{/each}}
    </script>
    <script id="weatherForecastTemplate" type="text/x-handlebars-template">
        {{#each list}}
        <div class="day">
            <div class="date">
                Day: {{dt_text}}
            </div>
            <div>
                High: {{#temperature main.temp}} Deg. F
            </div>
            <div>
                Low: {{#temperature main.temp}} Deg. F
            </div>
        </div>
        {{/each}}
    </script>
</body>
</html>